---
layout: default
title: "Home"
---

{% for post in paginator.posts %}
<article class="box" id="{{ post.title }}">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="title">{{ post.title }}</h2>
      <p class="lead">{{ post.date | date:'%B %d, %Y' | replace:' 0',' ' }}</p>
      {{ post.content }}
    </div class="panel-body">
  </div>
</article>
{% endfor %}

<div class="text-center">
  {% if paginator.total_pages > 1 %}
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
    {% else %}
    <li class="disabled"><a href="#">&laquo; Prev</a>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <li class="active"><a href="#">{{ page }}</a></li>
      {% elsif page == 1 %}
      <li><a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
      {% else %}
      <li class="disabled"><a href="#">Next &raquo;</a href="#"></li>
      {% endif %}
  </ul>
  {% endif %}
</div>
