<div class="page-header">
  <div class="panel panel-default jumbotron-header jumbotron">
    <div class="panel-body">
      <!--<h1><a href="http://ieeecs.ece.utexas.edu/" style="text-decoration: none" color: black; >{{ site.title }}</a></h1>-->
        <a href="/" title="IEEE Computer Society"><img src="ieeecs-logo.png" alt="IEEE Computer Society" style="width:100%" ></a>
        <p class="lead">@ The University of Texas at Austin</p>
    </div>
  </div>
</div>

<!--
<div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Pardon our dust</h4>
    <p>Please pardon our dust, our website is still under construction. Check back later for cool, interesting, and useful content.</p>
  </div>
-->