<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- <\!-- Bootstrap Glyphicons -\-> -->
    <!-- <link rel="stylesheet" href="/css/bootstrap-glyphicons.css"> -->

    <!-- Bootswatch theme -->
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen"/>

    <!-- JQuery for dropdowns and such -->
    <script src="/js/jquery-2.1.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript for Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Dependency for calendar js -->
    <script src="/js/date.js"></script>

    <!-- Include calendar js -->
    <script src="/js/calendar.js"></script>

    <!-- JS for Office image -->
    <script src="js/modernizr.js"></script>
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
    <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"> -->
</head>
